Babel==2.4.0
beautifulsoup4==4.5.1
binwalk
bs4==0.0.1
cffi==1.9.1
chardet==2.3.0
click==6.7
crypto==1.4.1
cycler==0.9.0
decorator==4.0.11
dj-database-url==0.4.2
Django==1.11.28
django-allauth==0.31.0
django-phonenumber-field==1.2.0
django-twilio==0.8.0
enum34==1.1.6
facepy==1.0.8
Flask==0.12.1
gunicorn==19.7.1
html5lib==0.999
httplib2==0.10.3
idna==2.2
imageio==2.1.2
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.6
lxml==3.5.0
MarkupSafe==1.0
moviepy==0.2.2.13
Naked==0.1.31
numpy==1.11.0
oauthlib==2.0.2
olefile==0.44
pdfcrowd==2.7
phonenumberslite==8.3.3
Pillow==6.2.0
pyasn1==0.1.9
pycparser==2.17
pyinotify==0.9.6
PyOpenGL==3.0.2
pyparsing==2.0.3
pyperclip==1.5.27
pyqtgraph==0.9.10
pytesseract==0.1.6
python-dateutil==2.4.2
python-openid==2.2.5
pytz==2016.10
PyYAML==5.1
queuelib==1.4.2
requests==2.12.4
requests-oauthlib==0.8.0
scipy==0.17.0
selenium==3.0.2
shellescape==3.4.1
six==1.10.0
slugify==0.0.1
splinter==0.7.5
telepot==10.3
tqdm==4.11.2
urllib3==1.24.2
Werkzeug==0.15.3
whitenoise==3.3.0
psycopg2==2.6.2

