{% extends 'blog/base.html' %}
{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        {% if user.is_authenticated %}
          <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
          <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
          <h1>{{ post.title }}</h1>
          <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}
<!--
<style type="text/css">
.content {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}
</style>
-->
